.jumbotron {
  background-color: #3AAA3D;
  color: #C5285C;
  opacity: 0.9; }

body {
  margin: 0; }

.jumbotron h1 {
  color: black; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #C5285C;
  margin-top: 1rem;
  margin-bottom: 1rem; }

footer a {
  color: white;
  margin-top: 1rem; }

address, footer h3, form {
  color: white; }

footer a:hover {
  color: yellow; }

.card-hotel {
  flex: 1 300px;
  padding: 30px 30px 5px 30px;
  background-color: black;
  opacity: 0.8;
  color: white; }

.btn-reserva {
  width: 100%; }

hr {
  background-color: blue; }

.jumbotron, footer {
  opacity: 0.8; }

.bg {
  background-image: url("../Img/12.jpg");
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: contain; }

nav, .container {
  opacity: 0.9; }

.card {
  border-radius: 0; }

.card img {
  height: 13rem; }
