$yellow: #fffa19;
$green: #3AAA3D;
$rojo: #C5285C;

@mixin margenes ($top, $bottom){
	margin-top:$top;
	margin-bottom: $bottom;
}

@mixin paddings($top,$right,$bottom,$left){
	padding: $top $right $bottom $left;
}

.jumbotron{
	background-color: $green;
	color: $rojo;
	opacity:0.9;
}
body{
	margin: 0;		
}

.jumbotron h1{	
	color: black;
}

footer{	
	@include paddings(10px,10px,0,10px)
	background-color: $rojo;	
	@include margenes(1rem,1rem);
}

footer a{
	color: white;
	margin-top: 1rem;
}
address, footer h3,form{
	color: white;
}

footer a:hover{
	color: yellow;	
}

.card-hotel{
	flex: 1 300px;
	padding: 30px 30px 5px 30px;
	background-color: black;
	opacity: 0.8;
	color: white;
}

.btn-reserva{
	width: 100%;		
}

hr{
	background-color: blue;
}

.jumbotron, footer{
	opacity: 0.8;
}

.bg { 
  background-image: url("../Img/12.jpg");
  height: 100%;  
  background-position: center;
  background-repeat: repeat;
  background-size: contain; 
}

nav, .container{
	opacity: 0.9;
}

.card{
	border-radius: 0;
}

.card img {	
	height: 13rem;
}


